
#slideshow_framework
{
	width:930px;
	position:relative;
}

#thumbs
{
	float:left;
	width:120px;
	height:600px;
	overflow:hidden;
	position:relative;
}

#thumb_indicator
{
	height:71px;
	width:104px;
	border:solid black 3px;
	position:absolute;
	z-index:2;
	top:0;
}

#slider
{
	position:absolute;
	top:0;
}

.thumb
{
	width:110px;
	height:77px;
	position:relative;
	margin-bottom:10px;
}

.image_download_link
{
	height:0;
	padding-top:23px;
	width:23px;
	line-height:normal;
	overflow:hidden;
	background:url(../images/download-link.png) no-repeat left top;
	display:block;
	position:absolute;
	bottom:2px;
	right:2px;
	display:none;
}

#slideshow_left_button, #slideshow_right_button
{
	height:93px;
	width:93px;
	position:absolute;
	overflow:hidden;
	z-index:1;
	top:50%;
	margin-top:-50px;
	display:none;
}

#slideshow_left_button
{
	left:10px;
}

#slideshow_right_button
{
	right:10px;
}

#slideshow_left_button a
{
	background:url(../images/left-arrow.png) no-repeat left top;
	left:0;
}

#slideshow_right_button a
{
	background:url(../images/right-arrow.png) no-repeat left top;
	right:0;
}

#slideshow_left_button a, #slideshow_right_button a
{
	display:block;
	height:0;
	width:93px;
	padding-top:93px;
	line-height:normal;
	position:absolute;
	top:0;
	left:0;
}

#selected_image
{
	float:left;
	position:relative;
}

#preloaded_images
{
	display:none;
}

#slideshow_framework_image_titles,
#slideshow_framework_image_descriptions
{
	padding-left:120px;
}

#slideshow_framework_image_titles
{
	text-align:center;
	font-weight:bold;
	font-size:2em;
	margin-bottom:0.5em;
}

#slideshow_framework_image_descriptions
{
	font-size:1.5em;
}

.slideshow_framework_image_title, 
.slideshow_framework_image_description
{
	display:none;
}

#slideshow_framework_image_titles .selected,
#slideshow_framework_image_descriptions .selected
{
	display:block;
}

#slideshow_framework_images
{
	overflow:auto;
}

#download_explanation
{
	padding-left:120px;
	color:#999;
}