#slideshow_framework_draggable_images_table fieldset .slideshow_framework_upload_element
{
	float:left;
	width:415px;
	margin:0;
	padding:0;
}

#slideshow_framework_draggable_images_table fieldset .slideshow_framework_alt_text, #slideshow_framework_draggable_images_table fieldset .slideshow_framework_title_text
{
	float:left;
	width:270px;
	margin:0;
	padding:0;
}

#slideshow_framework_draggable_images_table fieldset .slideshow_framework_alt_text .form-item, #slideshow_framework_draggable_images_table fieldset .slideshow_framework_title_text .form-item
{
	margin-left:20px;
}

#slideshow_framework_draggable_images_table fieldset .slideshow_framework_alt_text input, #slideshow_framework_draggable_images_table fieldset .slideshow_framework_title_text input
{
	width:100%;
}

#slideshow_framework_draggable_images_table fieldset .slideshow_framework_description,
#slideshow_framework_draggable_images_table .slideshow_framework_image_title
{
	clear:left;
}

#slideshow_framework_draggable_images_table fieldset .description
{
	white-space:normal;
}

div.upload-element-row
{
	padding-bottom:5px;
	overflow:hidden;
}